* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8em;
    color: #5D6063;
  }
  
h1{
    text-align: center;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-weight: normal;
    font-style: normal;
  }

.judul {
    padding-top: 9em;
    padding-bottom: 9em;
    background-color: #5D6063;
  }

.section {
    border-top: 1px solid #D6D9DC;
  }